<div class="body">

    <button type="button" class="btn btn-danger btn-shout">Shout</button>

    <h3>Watch</h3>
    <p>See what's happening around you.</p>

    <ul class="nav nav-tabs nav-tabs-groups" role="tablist">
        <li role="presentation" class="active"><a href="#">My Groups</a></li>
        <li role="presentation"><a href="#">My Location</a></li>
        <li role="presentation"><a href="#">All Groups</a></li>
    </ul>

    <button type="button" class="btn btn-default btn-group">#HackathonDrones</button>
    <button type="button" class="btn btn-default btn-group">#VenetianTheft</button>
    <button type="button" class="btn btn-default btn-group">#VegasCrime</button>

    <hr>

    <ul class="nav nav-tabs nav-tabs-groups" role="tablist">
        <li role="presentation" class="active"><a href="#">Summary</a></li>
        <li role="presentation"><a href="#">Map</a></li>
    </ul>

    <div class="well">

        <div class="btn-group btn-group-duration">
            <button type="button" class="btn btn-default">Last 5 Minutes</button>
            <button type="button" class="btn btn-default">Last 1 Hour</button>
            <button type="button" class="btn btn-default">Last 4 Hours</button>
        </div>

        <div class="report-summary report-summary-high">5 High Alerts</div>
        <div class="report-summary report-summary-medium">2 Medium Alerts</div>
        <div class="report-summary report-summary-low">1 Low Alert</div>
    </div>
</div>
